.wikitable.tablelist {
    padding-bottom: 1rem;
    margin-top: 0;
    border-radius: 0;
    border-color: transparent;
    line-height: normal;
    scrollbar-width: auto;

    tr {
        transition: background-color 100ms ease, transform 150ms ease;

        th, td {
            border-top: 0;
            word-break: keep-all;
        }

        th {
            color: var(--color-surface-0);
            font-size: 13px;
            padding: var(--space-xxs) var(--space-xs);
            background: hsla(var(--color-primary__h), var(--color-primary__s), var(--color-primary__l), 85%);

            &:first-child, &:first-of-type {
                border-top-left-radius: var(--border-radius--pill) !important;
                border-bottom-left-radius: var(--border-radius--pill) !important;
            }
    
            &:last-child, &:last-of-type {
                border-top-right-radius: var(--border-radius--pill) !important;
                border-bottom-right-radius: var(--border-radius--pill) !important;
            }
        }

        td {
            &:first-child, &:first-of-type {
                border-top-left-radius: var(--border-radius--medium) !important;
                border-bottom-left-radius: var(--border-radius--medium) !important;
            }

            &:last-child, &:last-of-type {
                border-top-right-radius: var(--border-radius--medium) !important;
                border-bottom-right-radius: var(--border-radius--medium) !important;
            }
        }
    }
}