.wikitable.tablelist {
    border-color: transparent;
    border-radius: 0;

    tr {
        transition: background-color 100ms ease, transform 150ms ease;

        th, td {
            border-top: 0;
        }
    }
}